body {
    margin: 8px;
    max-width: 650px;
    font-family: Calibri, Georgia, Arial, Helvetica, sans-serif;
    margin: 0px auto 0px auto;
}

ul {
    list-style-type: disc;
    padding-left: 1em;
}
